@page "/favorite"
<PageTitle>Gamers Lounge: Your Favorites</PageTitle>

<h3 class="text">Your Favorites</h3>
<div class="container">
	<Listing Games="favGames"></Listing>
</div>

@code {
    public List<Item> favGames = new List<Item>();

    protected override void OnInitialized()
    {
        List<int> favorites = DB.GetFavoritesByUserID(1);

        foreach ( var item in DB.allItems)
        {
            if (favorites.Contains(item.itemID))
            {
                favGames.Add(item);
            }
        }
    }
}