
<div class="carousel">
    @for (var i = 0; i < images.Length; i++)
    {
        var path = $"/Picture/{images[i]}.png";
        <div class="carousel-item @(currentIndex == i ? "active" : "")">
            <img src="@path" alt="Image @i" />
        </div>

    }
</div>
<div class="btns"
    <button id="prevbtn" class="btn btn-outline-dark" @onclick="PreviousImage">Previous</button>
    <button id="nxtbtn" class="btn btn-outline-dark" @onclick="NextImage">Next</button>
</div>


@code {
    private int index = 0;
    private int currentIndex = 0;
    private string[] images = new string[] { "ac", "skyrim"};

    private void NextImage()
    {
        currentIndex = (currentIndex + 1) % images.Length;
    }

    private void PreviousImage()
    {
        currentIndex = (currentIndex - 1 + images.Length) % images.Length;
    }
}