
<div class="carousel">
    @for (var i = 0; i < images.Length; i++)
    {
        var path = $"/Picture/{images[i]}.png";
        <div class="carousel-item @(currentIndex == i ? "active" : "")">
            <img src="@path" alt="Image @i" />
        </div>

    }
</div>

<div class="btns">
    <a class="prevbtn" @onclick="PreviousImage">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#212529" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
        </svg>
    </a>
    <a class="nxtbtn"  @onclick="NextImage">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#212529" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
        </svg>
    </a>
</div>


@code {
    private int index = 0;
    private int currentIndex = 0;
    private string[] images = new string[] { "ac", "skyrim"};

    private void NextImage()
    {
        currentIndex = (currentIndex + 1) % images.Length;
    }

    private void PreviousImage()
    {
        currentIndex = (currentIndex - 1 + images.Length) % images.Length;
    }
}