.container .row {
    background-color: #b3b3b3;
    box-shadow: 4px 3.5px;
    margin-top: 0.7rem;
    padding: 0;
}

.col-1 {
    position: relative;
    min-width: auto;
    min-width: 7rem;
    margin: 0.3rem 0 0.3rem 0;
}

    .col-1 button {
        background-color: #b3b3b3; /* Matcher baggrundsfarven i .col-1 */
        border: none; /* Fjerner eventuelle rammer */
        padding: 0; /* Fjerner padding, hvis det er nødvendigt */
        margin: 0;
    }

.favoriteStar {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    width: 30px;
    height: 30px;
    transform: translate(0rem, 0rem);
}

.text-right {
    text-align: right;
}

.game-image {
    width: 100%;
    height: auto;
}

.game-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3rem 0 0 0;
    padding: 0;
}

.game-created {
    font-size: 0.8rem;
    margin: 0;
    color: black;
}

.game-manufacture {
    font-size: 0.8rem;
    margin: 0;
    color: black;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.game-price {
    font-size: 1rem;
    text-align: center;
}

.game-condition {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.game-genre {
    margin: 0;
    font-size: 0.8rem;
    color: black;
}

.game-description {
    margin: 0.2rem 0 0.1rem 0;
    font-size: 0.9rem;
}
