

.col .sellerDetailsContainer {
    margin-top: 5.6%;
    text-align: left;
}

.col .sellerDetails{
   
}

.col .name{
    margin-bottom: 0px;
}

.col .location {
    margin-bottom: 0px;
}

.col .itemsold {
    margin-bottom: 0px;
}





.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.show {
    display: flex;
}

.hide {
    display: none;
}
