

<div class="sellerDetailsContainer"
                <h5 class="sellerDetails"><b>Seller Details:</b></h5>
                @foreach (var sellerDetail in sellerDetails)
                {
                        <p class="name"><b>Name: </b>@sellerDetail.name</p>
                        <p class="location"><b>Location: </b>@sellerDetail.city</p>
                        
                }
</div>

@code {
    [Parameter]
    public int userID { get; set; }

    public List<User> sellerDetails = new List<User>();

    protected override void OnInitialized()
    {
        sellerDetails = DB.GetSellerDetailsFromUsers(userID);
    }

    // [Parameter]
    // public bool IsPopupVisible { get; set; }



}
