.section {
    position: relative;
    height: 850px;
    align-items: center;
    border-bottom: 1px solid #ff0000;
    padding: 2%;
}

.colum {
    flex: 1;
    border-radius: 10px;
}

.left-colum{
    padding: 2%;
    background-color: #b3b3b3;
}

.right-colum {
    padding: 2%;
}

.header-top-section {
    margin-top: 40%;
}

.image {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.text {
    text-align: center;
    color: #b3b3b3;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card-middle-section {
    width: 32.5%;
    padding: 2%;
    text-align: center;
    background: #b3b3b3;
    border-radius: 10px;
}

.button-container-middle-section {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.card-bottom-section {
    width: 30%;
    padding: 2%;
    text-align: center;
    background: #b3b3b3;
    border-radius: 10px;
}

.card-body-bottom {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-body-bottom:hover {
    opacity: 70%;
}

.btn-dark {
    border: 1px solid #b3b3b3;
}

.btn-dark:hover {
    opacity: 70%;
}