body {
}

.section {
    position: relative;
    height: 625px;
    align-items: center;
    border-bottom: 1px solid #ff0000;
}

.col {
    border: 1px solid #ff0000;
    padding: 20px;
}

.header-top-section {
    margin-top: 45%;
}

.image {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.text {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card-middle-section {
    width: 33%;
    padding: 2%;
    border: 1px solid #ff0000;
    border-radius: 10px;
    text-align: center;
    background: #b3b3b3
}

.button-container-middle-section {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.button-middle-section {
    margin-right: 1%;
    margin-left: 1%;
}

.card-bottom-section {
    width: 24%;
    padding: 20px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    text-align: center;
    background: #b3b3b3
}

.card-body-bottom {
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn-dark {
    transform: translateY(-20%);
}

.btn-dark:hover {
    opacity: 70%;
}