@using Service
@inject AuthenticationService AuthenticationService
@page "/login"
<PageTitle>Gamers lounge: Login</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="username" class="label">Brugernavn</label>
                            <input type="text" class="form-control" id="username" placeholder="Indtast brugernavn" @bind="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="label">Adgangskode</label>
                            <input type="password" class="form-control" id="password" placeholder="Indtast adgangskode" @bind="password">
                        </div>
                        <button type="submit" class="btn btn-dark" @onclick="HandleLogin" @onclick:preventDefault>Log ind</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private string username;
    private string password;

    [Parameter]
    public int userID { get; set; }

    public List<User> allusers = new List<User>();

    protected override void OnInitialized()
    {
        allusers = DB.GetAllUser();
    }

    private void HandleLogin()
    {
        User user = allusers.FirstOrDefault(u => u.name == username && u.password == password);

        if (user != null)
        {
            AuthenticationService.Login(user);
            NavigationManager.NavigateTo($"/profilepage/{user.userID}");
            Console.WriteLine("Bruger findes");
        }
        else
        {
            Console.WriteLine("Findes ikke");
        }
    }
}