.ProductListTop {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    background-clip: content-box;
}

.searchBtn {
    background-color: transparent;
    border: none;
    padding: 0; 
    cursor: pointer;
}

.searchBtn svg {
    fill: white;
}


.productsCount {
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.pageCount {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.pageCount p {
    margin: 1rem;
    font-size: 1.5rem;
}

.pageButton {
    background-color: white;
    border: none;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.pageButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.leftArrow {
    transform: translate(-50%, -50%) rotate(0);
}

.rightArrow {
    transform: translate(-50%, -50%) rotate(0deg);
}


/* Media query for mindre skærme */
@media (max-width: 768px) {
    .ProductListTop {
        flex-direction: column;
    }

    .container {
        padding: 0 1rem;
    }
}