body {
}

.container .row:first-child {
    box-shadow: 5px 5px;
    background-color: #b3b3b3;
}

.col {
    position: relative;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Ensure text is centered */
}

.col .gameTitle {
    text-align: left;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    max-width: 50rem;
}


.col .genre {
    text-align: left;
    margin-bottom: 10px;
}

.col .description {
    text-align: left;
}

.col .priceTag {
    text-align: left;
}

.col .btn-dark {
    position: relative;
    float: left;
    height: 4rem;
    width: 10rem;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.favoriteStar {
    position: relative;
    margin-top: 1.0%;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.favoriteStarText {
    position: relative;
    margin-top: 1.0%;
    text-align: center; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    width: 100%; 
    padding: 0 10px; 
}

.col .btn-dark:hover {
    opacity: 70%;
}


.container .row:nth-child(2) {
    background-color: #b3b3b3;
    margin-top: 1rem;
    box-shadow: 5px 5px;
}

.col .details {
    text-align: left;
    margin-bottom: 10px;
}

.col .conditionDetails {
    text-align: left;
    margin-bottom: 0px;
}

.col .genreDetails {
    text-align: left;
    margin-bottom: 0px;
}

.col .manufactureDetails {
    text-align: left;
    margin-bottom: 10px;
}