.ProductListTop {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productsCount {
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.pageCount {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.pageCount p {
    margin: 1rem;
}


/* Media query for mindre skærme */
@media (max-width: 768px) {
    .ProductListTop {
        flex-direction: column;
    }

    .container {
        padding: 0 1rem;
    }
}