@page "/product"

<h1>Skyrim</h1>

<div class="sale">
    <img src="/picture/skyrim.png" />
    <p>
        The Elder Scrolls V: Skyrim er et action-RPG-spil, der foregår i en åben verden. Spilleren styrer en karakter, som de kan skræddersy, og udforsker den store verden af ​​Skyrim, kæmper mod fjender, fuldfører missioner og opdager hemmeligheder i landet.
    </p>
</div>





@code {
}
