@page "/productlist"
@inject List<Item> allDummyData
@inject IJSRuntime JSRuntime

<div class="ProductListTop">
    <h3 class="ProductListTitle">ProductList</h3>
</div>

<h5 class="productsCount">Total products: @gamesToShow.Count</h5>

<div class="container">
    <Listing Games="gamesToShow" OnAddToFavorites="AddToFavorites"></Listing>
</div>

@code {
    public List<Item> gamesToShow;
    public List<Item> favoriteGames = new List<Item>(); // Liste til at gemme favoritter

    protected override void OnInitialized()
    {
        gamesToShow = allDummyData;
    }

    private async Task AddToFavorites(Item game)
    {
        // Tjek om spillet allerede er i favoritter
        if (!favoriteGames.Contains(game))
        {
            favoriteGames.Add(game);
            // Vis en alert med beskeden
            await JSRuntime.InvokeVoidAsync("alert", $"{game.gameName}, er tilføjet til favoritter");
        }
        else
        {
            // Hvis spillet allerede er i favoritter, kan du vise en besked eller håndtere det på en anden måde
            await JSRuntime.InvokeVoidAsync("alert", $"{game.gameName}, er allerede tilføjet til favoritter");
        }
    }
}
