article#bodybackground {
    background-color: gray !important;
}

.ProductListTop {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Sørger for, at elementerne er centreret vertikalt */
}


.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.container .row {
    background-color: #b3b3b3;
    box-shadow: 4px 3.5px;
    margin-top: 0.7rem;
    padding: 0;
}

.col-1 {
    position: relative;
    min-width: auto;
    min-width: 7rem;
    margin: 0.3rem 0 0.3rem 0;
}

.heart-icon {
    position: absolute;
    text-align: left;
    top: 0;
    left:0;
    width: 2rem;
    height: 3rem;

}


.text-right {
    text-align: right;
}

.game-image {
    width: 100%;
    height: auto;
}

.game-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3rem 0 0 0;
    padding: 0;
}
.game-created{
    font-size: 0.8rem;
    margin:0;
    color: black;
}
.game-manufacture{
    font-size: 0.8rem;
    margin: 0;
    color: black;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Justerer elementerne til venstre */
    justify-content: center; /* Centrerer elementerne vertikalt */
}




.game-price {
    font-size: 1rem;
    text-align: center;
}

.game-condition {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.game-visit {
    background-color: dodgerblue;
    position: relative;
    text-align: center;
    visibility: visible;
    margin: 0.2rem 0 0 0;
}

.game-genre {
    margin:0;
    font-size: 0.8rem;
    color: black;
}

.game-description {
    margin: 0.2rem 0 0.1rem 0;
    font-size: 0.9rem;
}


.basket {
    color: white; /* Juster farven efter behov */
    text-align: right;
}

.custom-basket-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-basket-button:hover {
    color: lightgray; /* Darker shade of Bootstrap's primary color */
}





