body {
}

.col {
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px ;
}

.col .gameTitle {
    text-align: left;
}

.col .genre {
    text-align: left;
    margin-bottom: 10px;
}

.col .description {
    text-align: left;
}

.col .priceTag {
    text-align: left;
}

.col .btn {
    float: left;
    height: 4rem;
    width: 10rem;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}