@page "/profilepage"

<PageTitle>Gamers Lounge: Profile Page</PageTitle>

<div class="card">
    <div class="container text-center">
        <div class="row">
            <div class="col" id="colLeft">
                <div class="ProfileContainer">
                    <img src="./Picture/img_avatar.png" alt="Avatar">
                        <div class="ProfileDetails">
                            <p>Name: </p>
                            <p>Phone number: </p>
                            <p>Email: </p>
                            <p>City: </p>
                        </div>
                </div>
            </div>
            <div class="col-6">
                
            </div>
            <div class="col">
                <div class="ListedSalesContaier">
                    <p>Listed sales: </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    
}